body {
    display: flex;
    margin:0;
    background-color: wheat;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

#main {
    display: flex;
    height: 576px;
    width: 324px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#title {
    display: flex;
    height: 225px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 5px white;
    background-size: cover;
    background-position-x: -5px;
    background-repeat: no-repeat;
}

#center {
    display: flex;
    height: 50%;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

#manArea {
    display: flex;
    height: 75%;
    width: 100%;
    position: relative;
}
.imageOne {
    height: 10px;
    width: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 50%;
    position: absolute;
    right:162px;
    bottom: 50px;

}

.imageTwo {
    height: 20px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    position: absolute;
    right: 167px;
    bottom: 29px;
}

.imageThree {
    width: 15px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    position: absolute;
    right: 160px;
    bottom: 45px;
}

.imageFour {
    width: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    position: absolute;
    right: 158px;
    bottom: 25px;
    transform: rotate(45deg);
}

.imageFive {
    width: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    position: absolute;
    right: 166px;
    bottom: 25px;
    transform: rotate(-45deg);
}

.imageSix {
    width: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    position: absolute;
    right: 182px;
    bottom: 18px;
}

.imageSeven {
    height: 56px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    position: absolute;
    right: 197px;
    bottom: 20px;
}

.imageEight {
    width: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    position: absolute;
    right: 167px;
    bottom: 78px;
}

.imageNine {
    width: 10px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    position: absolute;
    right: 188px;
    bottom: 74px;
    transform: rotate(-45deg);
}

.imageTen {
    height: 15px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    position: absolute;
    right: 167px;
    bottom: 62px;
}

.fail {
    display:none;
}

#wordArea {
    display: flex;
    height: 20%;
    width: 75%;
    justify-content: center;
    align-items: center;
}

.word {
    display: none;
    margin: 0px 10px
}

#start {
    display: flex;
    height: 30px;
    width: 100px;
    margin: 2px;
    border-radius: 20px;
    background-color: black;
    color:yellow;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

#botBar {
    display: flex;
    height: fit-content;
    width: 90%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
    display: flex;
    height: 40px;
    justify-content: space-around;
}


.button {
    display: flex;
    height: 30px;
    width: 30px;
    margin: 2px;
    border-radius: 50%;
    background-color: yellow;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

#gameOver {
    display: none;
    font-size: xx-large;
    text-shadow: 2px 2px 5px white;
    margin-bottom: 100px;
    text-align: center;
}

#resetButton {
    display: flex;
    height: 30px;
    width: 100px;
    margin: 2px;
    border-radius: 20px;
    background-color: black;
    color:yellow;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}